:root {
  --primary: #52BAE2;
  --secondary: #C2E9F5;
  --border: #E5E5E5;
  --text: #000000;
  --background: #FFFFFF;

  /* size variables for the slider */
  --radio-size: 25px;
  --indicator-size: 18px;
  --gap: 50px;
  --text-gap: 35px;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header .top {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.header .bottom {
  display: flex;
  flex-direction: row;
}

.theme-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border-container {
  border: 2px solid var(--border);
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* the slider container with dynamiuc width */
.radio-container {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* each radio style */
.radio {
  position: relative;
  width: var(--radio-size);
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

/* inidcator Style */
.radio-btn {
  width: var(--radio-size);
  height: var(--radio-size);
  background: var(--secondary);
  border-radius: 50%;
  margin: 0 auto;
}

/* the track behind the radio buttons */
.radio-track {
  position: absolute;
  top: calc(var(--radio-size) / 4);
  left: calc(var(--radio-size) / 2);
  width: calc(100% - var(--radio-size));
  height: calc(var(--radio-size) / 2);
  background: var(--secondary);
  z-index: 1;
}

.radio-indicator {
  position: absolute;
  top: calc((var(--radio-size) - var(--indicator-size)) / 2);
  left: calc(0px + ((var(--radio-size) - var(--indicator-size)) / 2));
  width: var(--indicator-size);
  height: var(--indicator-size);
  border-radius: 50%;
  background: var(--primary);
  transition: left 0.3s ease;
  z-index: 2;
}

/* irrelevant now: keeping for demoing css aniation skills.*/
.radio-container[data-selected="dark"] .radio-indicator {
  left: calc(0px + ((var(--radio-size) - var(--indicator-size)) / 2));
}

.radio-container[data-selected="system"] .radio-indicator {
  left: calc(var(--radio-size) + var(--gap) + ((var(--radio-size) - var(--indicator-size)) / 2));
}

.radio-container[data-selected="light"] .radio-indicator {
  left: calc(2 * (var(--radio-size) + var(--gap)) + ((var(--radio-size) - var(--indicator-size)) / 2));
}

/* irrelevant now: keeping for demo sake though*/
@media (prefers-color-scheme: dark) {
  body.system-theme {
    --background: #000000;
    --text: #ffffff;
    --primary: #e2528e;
    --secondary: #5f1e49;
    --border: #333333;
  }
}

body.dark-theme {
  --background: #000000;
  --text: #ffffff;
  --primary: #e2528e;
  --secondary: #5f1e49;
  --border: #333333;
}